
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="d-flex  flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Weather App</h5>
  <form action="/find" method="post">
    <div class="input-group mb-3" style="width: 100%; position:relative; top:10px;">
    <input name="city" type="text" class="form-control" placeholder="Input city..." aria-label="Input city..." aria-describedby="button-addon2" style="width: 25%">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
    </div>
  </form>


</div>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#Today">Today</a>
    <a class="p-2 text-dark" href="#Forecast">5-day forecast</a>
  </nav>
</div>
  </header>

 <a name="Today"></a>
  <div class="card" style="width: auto; height:350px;">
  <div class="card-body">
    <h5 class="card-title">Current Weather</h5>
    <h5  align="center" class="card-title display-4"><%=weather.city %></h5>
    <h6 align="center" class="card-title display-4"><%=weather.temperature %>°C</h6>
    <h6 align="center" class="card-title mb-2 text-muted">Real feel: 35°C</h6>
      <img src="http://openweathermap.org/img/w/<%=weather.icon %>.png" height="80px" style="position: relative; top: -150px; margin-left:465px;">

    <p class="card-text" style="position: relative; top:-130px; margin-left: 485px;"><%=weather.description %></p>
      <p class="card-text" style="position: relative; margin-left: 1300px; top:-240px;">Max Temperature: <%=weather.max_temp %> °C </p>
      <p class="card-text" style="position: relative; margin-left: 1300px; top:-253px;">Min Temperature: <%=weather.min_temp %> °C </p>
      <!-- <p class="card-text" style="position: relative; margin-left: 1300px; top:-265px;">Duration: <%=weather.dur %> HR </p> -->


  </div>
</div>
<a name="Forecast"></a>
<div class="card" style="width: auto; height:800px; position:relative; margin-top:30px;">
<div class="card-body">
<h5 class="card-title">Weather Forecast for <%=weather.city %></h5>
<div class="forecast" style="position:relative; left:60px;">


          <div class="card" style="width: 18rem; position:relative; margin-left:150px; height:500px; margin-top:30px;">
                    <div class="card-body">
                      <h5 class="card-title">Monday</h5>
                      <img src="http://openweathermap.org/img/w/<%=weather.mon_icon %>.png"  height="80px" style="position:relative; margin-left:78px;">
                      <p class="card-text" align="center"><%=weather.mon_desc %></p>
                      <p class="card-text display-4"><%=weather.mon_temp %>°C</p>
                      <p class="card-text" style="position: relative;  top:25px;">Max Temperature : <%=weather.mon_max_temp %> °C </p>
                      <p class="card-text" style="position: relative;  top:-40px;">Min Temperature : <%=weather.mon_min_temp %> °C </p>
                    </div>

          </div>
          <div class="card" style="width: 18rem; position:relative; margin-left:450px; height:500px; margin-top:30px; top:-530px;">
                    <div class="card-body">
                      <h5 class="card-title">Thursday</h5>
                      <img src="http://openweathermap.org/img/w/<%=weather.thur_icon %>.png"  height="80px" style="position:relative; margin-left:78px;">
                      <p class="card-text" align="center"><%=weather.thur_desc %></p>
                      <p class="card-text display-4"><%=weather.thur_temp %>°C</p>
                      <p class="card-text" style="position: relative;  top:25px;">Max Temperature: <%=weather.thur_max_temp %> °C </p>
                      <p class="card-text" style="position: relative;  top:-40px;">Min Temperature: <%=weather.thur_min_temp %> °C </p>
                    </div>

          </div>
          <div class="card" style="width: 18rem; position:relative; margin-left:750px; height:500px; margin-top:30px; top:-1060px;">
                    <div class="card-body">
                      <h5 class="card-title">Wednesday</h5>

                      <img src="http://openweathermap.org/img/w/<%=weather.wen_icon %>.png"  height="80px" style="position:relative; margin-left:78px;">
                      <p class="card-text" align="center"><%=weather.wen_desc %></p>
                      <p class="card-text display-4"><%=weather.wen_temp %>°C</p>
                      <p class="card-text" style="position: relative;  top:25px;">Max Temperature: <%=weather.wen_max_temp %> °C </p>
                      <p class="card-text" style="position: relative;  top:-40px;">Min Temperature: <%=weather.wen_min_temp %> °C </p>
                    </div>

          </div>
          <div class="card" style="width: 18rem; position:relative; margin-left:1050px; height:500px; margin-top:30px; top:-1590px;">
                    <div class="card-body">
                      <h5 class="card-title">Tuesday</h5>
                      <img src="http://openweathermap.org/img/w/<%=weather.tues_icon %>.png"  height="80px" style="position:relative; margin-left:78px;">
                      <p class="card-text" align="center"><%=weather.tues_desc %></p>
                      <p class="card-text display-4"><%=weather.tues_temp %>°C</p>
                      <p class="card-text" style="position: relative;  top:25px;">Max Temperature: <%=weather.tues_max_temp %> °C </p>
                      <p class="card-text" style="position: relative;  top:-40px;">Min Temperature: <%=weather.tues_min_temp %> °C </p>
                    </div>

          </div>
          <div class="card" style="width: 18rem; position:relative; margin-left:1350px; height:500px; margin-top:30px; top:-2120px;">
                    <div class="card-body">
                      <h5 class="card-title">Friday</h5>
                      <img src="http://openweathermap.org/img/w/<%=weather.fri_icon %>.png"  height="80px" style="position:relative; margin-left:78px;">
                      <p class="card-text" align="center"><%=weather.fri_desc %></p>
                      <p class="card-text display-4"><%=weather.fri_temp %>°C</p>
                      <p class="card-text" style="position: relative;  top:25px;">Max Temperature: <%=weather.fri_max_temp %> °C </p>
                      <p class="card-text" style="position: relative;  top:-40px;">Min Temperature: <%=weather.fri_min_temp  %> °C </p>
                    </div>

          </div>
        </div>
</div>




</body>

</html>
